@media screen and (max-width: 600px) {
  .items-container {
    display: none;
  }

  .menu-bar {
    display: block;
    position: absolute;
    right: 45px;
    top: 57px;
  }

  .menu-bar i {
    font-size: 23px;
    cursor: pointer;
  }

  .logo{
    width: 40px;
  margin-right: 0.6rem;
  }

  .web-site-name {
    font-size: 1.5rem;
  }

  .banner {
    flex-direction: column;
    height: auto;
  }

  .banner-content-wrapper,
  .banner-input-box {
    flex-direction: column;
  }

  .banner-input-box {
    gap: 16px;
    margin-bottom: 30px;
  }

  .banner-box {
    width: 290px;
  }

  .banner-box input {
    width: 100%;
  }

  .banner-title {
    font-size: 1.7rem;
    margin-top: 50px;
    margin-bottom: 10px;
  }

  .banner-description {
    width: 350px;
    margin: auto;
  }

  section {
    margin-bottom: 30px;
}
  

  /* Our Popular Tour */
  .popular-tour-container {
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    height: auto;
  }
  .tour-content {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  .info-right {
    width: 100%;
  }
  .tour-title {
    font-size: 22px;
  }
  .tour-description,
  ul li {
    font-size: 14px;
    line-height: 24px;
  }
  .info-right > img {
    width: 100%;
    border-radius: 11px;
  }
  .tour-content ul,
  .des1,
  .des2 {
    margin-top: 10px;
  }

  /* Choose Your Destination */

  .destination-content {
    padding: 0;
    padding-bottom: 15px;
    text-align: center;
  }

  .destination-title {
    font-size: 25px;
  }
  .img-container {
    flex-direction: column;
    gap: 15px;
  }
  .img-box {
    width: 100%;
  }

  .destination-container {
    width: 82%;
  }


  /* Why Choose Us */
  .why-choose-cardscard-des{
    flex-direction: column;
    gap: 20px;
}
.why-choose-content{
    padding: 0px 40px;
    padding-bottom: 35px;
    text-align: center;
}
.cards{
    width: 100%;
    border-radius: 15px;
}


/* Newsletter */
.newsletter{
  flex-direction: column;
  gap: 25px;
  margin-top: 0px;
  
}

#newsletter {
  margin-bottom: 30px;
}

.nav-container{
  margin-bottom: 10px;
}
.footer, .destination-container, .banner{
  margin-top: 0;
}

.newsletter-content{
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
}

.save{
 width: 145px;
 height: 55px;
}

.newsletter-content input{
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
}
.newsletter-content .newsletter-btn{
  width: 100%;

}
.newsletter-img{
  width: 100%;
  position: relative;
  height: 100%;

}

.save .save-text{
  margin: 0;
  font-size: 7px;
}
.save .save-title{
  font-size: 12px;
}


/* Footer */

.footer-container{
  box-sizing: border-box;
  text-align: center;
  padding: 40px 0px;
  

}
.footer-icon{
  margin: 30px 0px;
}
.footer-icon > a{
  padding: 10px;
  font-size: 32px;
}
.copyright{
  margin-top: 30px;
}




/* extra */

.packages-items-container{
  flex-direction: column;
}

.packages-item{
  width: 100%;
}

}
