@media screen and (max-width: 600px) {
  .items-container {
    display: none;
  }

  .menu-bar {
    display: block;
    position: absolute;
    right: 45px;
    top: 60px;
  }

  .menu-bar i{
    font-size: 30px;
    cursor: pointer;
  }
}
